body {
    line-height: 1.4;
    max-width: 800px;
    text-align: justify;
    font-family: Open Sans;
    margin: 50px auto;
    background: #EEEEEE;
    color: rgb(75,75,75);
    font-size: 16px;
}

/*    MODE PSYCHEDELIQUE */

button {
    position: fixed;
    margin-top: -100px;
    margin-left: 900px;
    padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background:#d34836;
	color:#fff;
/*	width:90px;*/
	border-radius:2px;
	border:none;
    padding: 10px;
}

.psychedelic {
    background: magenta;
    color: white;
}

.psychedelic p {
    color: blue;
}

.psychedelic h1, .psychedelic h2 {
    color: green;
}

.normal {
    background: #EEEEEE;
    color: rgb(75,75,75);
}

/*/////////////////////////////////////////////////////////////////////////////////*/

/*    MODIFICATION TEXTE */

.tiny {
    font-size: 7px;
}

.colored {
    color: #85144b;
}

#italic {
    font-style: italic;
}

#shittyBlue {
    color: #0000EE;
}

#violetish {
    color: #551a8b;
}

#pNewFont {
    font-family: monospace;
    font-size: 14px;
}

/*//////////////////////////////////////////////////////////////////////////////////*/

/*    MODIFICATION IMAGES */

.inlineSvg {
    display: inline-block;
    height: 1em;
}



.forbidden:hover {
    cursor: not-allowed;
}



img[alt*="Kopimi"] {
    display: block;
    height: 3em;
    margin: auto;
}

img[alt*="cat"] {
    width: 400px;
}

#blockPictureText { 
    display: flex;
}

#textRight {
    padding-left: 30px;
}

figure {
    margin: 0px;
}

figcaption {
    font-size: 12px;
}



strong::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

#color1::before {
    background-color: #444;
}

#color2::before {
    background-color: #454545;
}